In [1]:
users = [
{ "id": 0, "name": "Hero" },
{ "id": 1, "name": "Dunn" },
{ "id": 2, "name": "Sue" },
{ "id": 3, "name": "Chi" },
{ "id": 4, "name": "Thor" },
{ "id": 5, "name": "Clive" },
{ "id": 6, "name": "Hicks" },
{ "id": 7, "name": "Devin" },
{ "id": 8, "name": "Kate" },
{ "id": 9, "name": "Klein" }
]

In [2]:
friendships = [(0, 1), (0, 2), (1, 2), (1, 3), (2, 3), (3, 4),
(4, 5), (5, 6), (5, 7), (6, 8), (7, 8), (8, 9)]

In [5]:
for user in users:
    user["friends"] = []

In [11]:
for i,j in friendships:
    users[i]["friends"].append(users[j])
    users[j]["friends"].append(users[i])

In [15]:
def number_of_friends(user):
    return len(user["friends"])

In [18]:
total_connections = sum(number_of_friends(user) for user in users)
total_connections

24

In [19]:
from __future__ import division
num_users =  len(users)
avg_connections =  total_connections / num_users
avg_connections

2.4

In [20]:
num_friends_by_id = [(user["id"], number_of_friends(user)) for user in users]
num_friends_by_id

[(0, 2),
 (1, 3),
 (2, 3),
 (3, 3),
 (4, 2),
 (5, 3),
 (6, 2),
 (7, 2),
 (8, 3),
 (9, 1)]

In [21]:
sorted(num_friends_by_id, key=lambda (user_id, num_friends): num_friends, reverse=True)

[(1, 3),
 (2, 3),
 (3, 3),
 (5, 3),
 (8, 3),
 (0, 2),
 (4, 2),
 (6, 2),
 (7, 2),
 (9, 1)]

In [52]:
def friends_of_friend_id_bad(user):
    return [floaf["id"]
            for friend in user["friends"]
            for floaf in friend["friends"]
           ]

In [53]:
friends_of_friend_id_bad(users[0])

[0, 2, 3, 0, 1, 3]

In [54]:
print [friend["id"] for friend in users[0]["friends"]]
print [friend["id"] for friend in users[1]["friends"]]
print [friend["id"] for friend in users[2]["friends"]]

[1, 2]
[0, 2, 3]
[0, 1, 3]

In [31]:
from collections import Counter

In [60]:
def not_the_same(user, another_user):
    return user["id"]!= another_user["id"]

def not_friend(user, other_user):
    #return all([friend["id"]!=other_user["id"] for friend in user["friends"]])
    return all(not_the_same(friend, other_user) for friend in user["friends"])

def friends_of_friend_id(user):
    """ Lista tods que não são amigos e o numero de amigos em comum que esse usuario tem com o usuario passado como parametro"""
    return Counter(
        floaf["id"]
        for friend in user["friends"]
        for floaf in friend["friends"]
        if not_the_same(user, floaf) and not_friend(user,floaf)
    )

friends_of_friend_id(users[3])

Counter({0: 2, 5: 1})

In [61]:
interests = [
(0, "Hadoop"), (0, "Big Data"), (0, "HBase"), (0, "Java"),
(0, "Spark"), (0, "Storm"), (0, "Cassandra"),
(1, "NoSQL"), (1, "MongoDB"), (1, "Cassandra"), (1, "HBase"),
(1, "Postgres"), (2, "Python"), (2, "scikit-learn"), (2, "scipy"),
(2, "numpy"), (2, "statsmodels"), (2, "pandas"), (3, "R"), (3, "Python"),
(3, "statistics"), (3, "regression"), (3, "probability"),
(4, "machine learning"), (4, "regression"), (4, "decision trees"),
(4, "libsvm"), (5, "Python"), (5, "R"), (5, "Java"), (5, "C++"),
(5, "Haskell"), (5, "programming languages"), (6, "statistics"),
(6, "probability"), (6, "mathematics"), (6, "theory"),
(7, "machine learning"), (7, "scikit-learn"), (7, "Mahout"),
(7, "neural networks"), (8, "neural networks"), (8, "deep learning"),
(8, "Big Data"), (8, "artificial intelligence"), (9, "Hadoop"),
(9, "Java"), (9, "MapReduce"), (9, "Big Data")
]

In [63]:
def data_scientists_who_like(target_interest):
    return [ user_id for user_id, user_interest in interests if user_interest == target_interest]

data_scientists_who_like("machine learning")

[4, 7]

In [64]:
from collections import defaultdict

In [65]:
user_ids_by_interest = defaultdict(list)
for user_id, user_interest in interests:
    user_ids_by_interest[user_interest].append(user_id)

In [66]:
interests_by_user_id = defaultdict(list)
for user_id, user_interest in interests:
    interests_by_user_id[user_id].append(user_interest)

In [67]:
user_ids_by_interest["machine learning"]

[4, 7]

In [88]:
print interests_by_user_id[0]
print interests_by_user_id[1]
print interests_by_user_id[5]
print interests_by_user_id[]
print interests_by_user_id[9]

['Hadoop', 'Big Data', 'HBase', 'Java', 'Spark', 'Storm', 'Cassandra']
['NoSQL', 'MongoDB', 'Cassandra', 'HBase', 'Postgres']
['Python', 'R', 'Java', 'C++', 'Haskell', 'programming languages']
['neural networks', 'deep learning', 'Big Data', 'artificial intelligence']
['Hadoop', 'Java', 'MapReduce', 'Big Data']

In [82]:
def most_common_interests_with(user):
    return Counter(interested_user_id 
        for interest in interests_by_user_id[user["id"]]
        for interested_user_id in user_ids_by_interest[interest]
        if user["id"] != interested_user_id
    )
most_common_interests_with(users[0])

Counter({1: 2, 5: 1, 8: 1, 9: 3})

In [89]:
salaries_and_tenures = [(83000, 8.7), (88000, 8.1),
(48000, 0.7), (76000, 6),
(69000, 6.5), (76000, 7.5),
(60000, 2.5), (83000, 10),
(48000, 1.9), (63000, 4.2)]

In [99]:
salary_by_tenure =  defaultdict(list)
for salary, tenure in salaries_and_tenures:
    salary_by_tenure[tenure].append(salary)

average_salary_by_tenure ={
    tenure : sum(salaries) / len(salaries)
    for tenure, salaries in salary_by_tenure.items()
}

salary_by_tenure

defaultdict(list,
            {0.7: [48000],
             1.9: [48000],
             2.5: [60000],
             4.2: [63000],
             6: [76000],
             6.5: [69000],
             7.5: [76000],
             8.1: [88000],
             8.7: [83000],
             10: [83000]})

In [100]:
average_salary_by_tenure

{0.7: 48000.0,
 1.9: 48000.0,
 2.5: 60000.0,
 4.2: 63000.0,
 6: 76000.0,
 6.5: 69000.0,
 7.5: 76000.0,
 8.1: 88000.0,
 8.7: 83000.0,
 10: 83000.0}

In [94]:
def tenure_bucket(tenure):
    if tenure < 2:
        return "less than two"
    elif tenure < 5:
        return "less then five"
    else:
        return "more than five"

In [101]:
salary_by_tenure_bucket = defaultdict(list)
for salary,tenure in salaries_and_tenures:
    salary_by_tenure_bucket[tenure_bucket(tenure)].append(salary)
salary_by_tenure_bucket

defaultdict(list,
            {'less than two': [48000, 48000],
             'less then five': [60000, 63000],
             'more than five': [83000, 88000, 76000, 69000, 76000, 83000]})

In [104]:
average_salary_by_tenure_bucket = {
    tenure_bucket : sum(salaries) / len(salaries)
    for tenure_bucket, salaries in salary_by_tenure_bucket.iteritems()
}
average_salary_by_tenure_bucket

{'less than two': 48000.0,
 'less then five': 61500.0,
 'more than five': 79166.66666666667}

In [112]:
def predict_paid_or_unpaid(years_experience):
    if years_experience < 3.0:
        return "paid"
    elif years_experience < 8.5:
        return "unpaid"
    else:
        return "paid"

print [{tenure:predict_paid_or_unpaid(tenure)} for sal, tenure in salaries_and_tenures]

[{8.7: 'paid'}, {8.1: 'unpaid'}, {0.7: 'paid'}, {6: 'unpaid'}, {6.5: 'unpaid'}, {7.5: 'unpaid'}, {2.5: 'paid'}, {10: 'paid'}, {1.9: 'paid'}, {4.2: 'unpaid'}]

In [113]:
interests = [
(0, "Hadoop"), (0, "Big Data"), (0, "HBase"), (0, "Java"),
(0, "Spark"), (0, "Storm"), (0, "Cassandra"),
(1, "NoSQL"), (1, "MongoDB"), (1, "Cassandra"), (1, "HBase"),
(1, "Postgres"), (2, "Python"), (2, "scikit-learn"), (2, "scipy"),
(2, "numpy"), (2, "statsmodels"), (2, "pandas"), (3, "R"), (3, "Python"),
(3, "statistics"), (3, "regression"), (3, "probability"),
(4, "machine learning"), (4, "regression"), (4, "decision trees"),
(4, "libsvm"), (5, "Python"), (5, "R"), (5, "Java"), (5, "C++"),
(5, "Haskell"), (5, "programming languages"), (6, "statistics"),
(6, "probability"), (6, "mathematics"), (6, "theory"),
(7, "machine learning"), (7, "scikit-learn"), (7, "Mahout"),
(7, "neural networks"), (8, "neural networks"), (8, "deep learning"),
(8, "Big Data"), (8, "artificial intelligence"), (9, "Hadoop"),
(9, "Java"), (9, "MapReduce"), (9, "Big Data")
]

In [117]:
word_and_counts = Counter(word
  for user, interest in interests
  for word in interest.lower().split())

for word, count in word_and_counts.most_common():
    if count > 1:
        print word, count

learning 3
java 3
python 3
big 3
data 3
hbase 2
regression 2
cassandra 2
statistics 2
probability 2
hadoop 2
networks 2
machine 2
neural 2
scikit-learn 2
r 2

In [132]:
#jeito gambiarra para imprimir utilizando list comprehension
def print_most_common(word, count):
    print word, count

_ = [print_most_common( word, count)  for word, count in word_and_counts.most_common() if count > 1]

learning 3
java 3
python 3
big 3
data 3
hbase 2
regression 2
cassandra 2
statistics 2
probability 2
hadoop 2
networks 2
machine 2
neural 2
scikit-learn 2
r 2